@import "../glStyle/vars";
@import "../glStyle/template";
@import "../glStyle/forms/user-form";
@import "../glStyle/modals/modal";
@import "../glStyle/spinners/spinner";
@import "../glStyle/header";
@import "../glStyle/footer";

.dark-spinner {
  margin: 0 auto;
  @include spinner($color-bg-dark);
}

.main {
  flex-grow: 1;
  &__container {
    padding: 20px 40px;
    @media (max-width: $laptop-l) {
      padding-inline: 20px;
    }
    .main__user-form {
      margin: 0 auto 20px;
    }
    .main__btn-open-modal {
      display: block;
      margin: 0 auto;
      @include default-btn(270px, $color-text-light, $color-link-active);
    }
  }
}
