@import "../glStyle/vars";
@import "../glStyle/template";
@import "../glStyle/header";
@import "../glStyle/footer";

.form {
  margin: 0 auto;
  padding: 20px 40px;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  background-color: $color-bg-yellow;
  border-radius: 20px;
  @media (max-width: $phone-l) {
    padding-inline: 20px;
  }
  &__headline {
    margin-bottom: 10px;
    text-align: center;
    @include default-h(36px, 36px, $color-text-dark);
  }
  &__input-name,
  &__input-mail,
  &__input-phone {
    border: none;
    outline: none;
    text-overflow: ellipsis;
    @include default-p(24px, 24px, $color-text-dark);
    width: 100%;
    min-height: 50px;
    padding: 10px 20px;
    border-radius: 10px;
    &::placeholder {
      @include default-p(24px, 24px, $color-placeholder-dark);
      @media (max-width: $tablet-l) {
        font-size: 22px;
        line-height: 22px;
      }
      @media (max-width: $phone-l) {
        font-size: 20px;
        line-height: 20px;
      }
    }
    @media (max-width: $tablet-l) {
      font-size: 22px;
      line-height: 22px;
    }
    @media (max-width: $phone-l) {
      font-size: 20px;
      line-height: 20px;
    }
  }
  &__textarea-msg {
    margin-bottom: 10px;
    resize: none;
    border: none;
    outline: none;
    text-overflow: ellipsis;
    @include default-p(24px, 24px, $color-text-dark);
    width: 100%;
    min-height: 130px;
    padding: 10px 20px;
    border-radius: 10px;
    &::placeholder {
      @include default-p(24px, 24px, $color-placeholder-dark);
      @media (max-width: $tablet-l) {
        font-size: 22px;
        line-height: 22px;
      }
      @media (max-width: $phone-l) {
        font-size: 20px;
        line-height: 20px;
      }
    }
    @media (max-width: $tablet-l) {
      font-size: 22px;
      line-height: 22px;
    }
    @media (max-width: $phone-l) {
      font-size: 20px;
      line-height: 20px;
    }
  }
  &__btn-info-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 26px;
    @media (max-width: $laptop-m) {
      justify-content: center;
    }
    @media (max-width: $tablet-l) {
      flex-direction: column;
      text-align: center;
      row-gap: 15px;
    }
    .form__submit-btn {
      margin-left: 10px;
      padding-inline: 10px;
      @include default-btn(210px, $color-text-light, $color-link-active);
    }
    .form__btn-note {
      max-width: 280px;
      font-family: $font;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: $color-text-dark;
    }
  }
}

.main {
  flex-grow: 1;
  &__container {
    padding: 20px 40px;
    @media (max-width: $laptop-l) {
      padding-inline: 20px;
    }
  }
}
