@import "./vars";

// This class is needed to hide elements (by adding this class)
.hidden-element {
  display: none !important;
}

// This class is needed to make red border on inputs with errors
.error-input {
  border: 2px solid red !important;
}

// This class is needed to prevent page scrolling while modal is opened
.modal-open {
  overflow: hidden !important;
}

// This class is needed to stylize error messages
.error-msg {
  color: $color-red !important;
}

// This class is needed to stylize success messages
.success-msg {
  color: $color-green !important;
}

// Global container of whole page
.global-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Default settings of headlines, you only need to choose font size, line height and text color
@mixin default-h($font-size, $line-height, $text-color) {
  padding: 8px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
}

// Default settings of paragraphs, you only need to choose font size, line height and text color
@mixin default-p($font-size, $line-height, $text-color) {
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
}

// Mixin for button, already uses some default settings, but unique parameters are still needed
@mixin default-btn($max-width, $text-color, $bg-color) {
  max-width: $max-width;
  width: 100%;
  padding: 20px;
  font-family: $font;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: $text-color;
  background-color: $color-bg-dark;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transform: scale(1.1);
    color: $color-link-active;
  }
  &:disabled {
    transform: none;
    color: $color-text-gray;
    filter: grayscale(0.5);
  }
}

@mixin spinner($color) {
  --size: 40px;
  --color: #{$color};
  --animation-timing-function: linear;
  --animation-duration: 2s;
  width: var(--size);
  height: var(--size);
  mask-image: radial-gradient(
    circle at 50% 50%,
    transparent calc(var(--size) / 4),
    black calc(var(--size) / 4)
  );
  background-image: conic-gradient(
    from 0deg,
    var(--color) 0deg,
    var(--color) 10deg,
    transparent 10deg,
    transparent 30deg,
    var(--color) 30deg,
    var(--color) 50deg,
    transparent 50deg,
    transparent 70deg,
    var(--color) 70deg,
    var(--color) 90deg,
    transparent 90deg,
    transparent 110deg,
    var(--color) 110deg,
    var(--color) 130deg,
    transparent 130deg,
    transparent 150deg,
    var(--color) 150deg,
    var(--color) 170deg,
    transparent 170deg,
    transparent 190deg,
    var(--color) 190deg,
    var(--color) 210deg,
    transparent 210deg,
    transparent 230deg,
    var(--color) 230deg,
    var(--color) 250deg,
    transparent 250deg,
    transparent 270deg,
    var(--color) 270deg,
    var(--color) 290deg,
    transparent 290deg,
    transparent 310deg,
    var(--color) 310deg,
    var(--color) 330deg,
    transparent 330deg,
    transparent 350deg,
    var(--color) 350deg,
    var(--color) 360deg
  );
  border-radius: 50%;
  transform: rotate(0deg);
  animation: var(--animation-timing-function) var(--animation-duration) infinite
    spinner;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
